<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/inventario.css">
</head>
<body>
    <header>
        <%- include('nav'); %>
    </header>
    <div class="espacio">
        <div class="container mt-5">
            <h1 class="text-center">¿Listo para cotizar?</h1>
            <% if (Cart.length === 0) { %>
                <div class="text-center">
                    <h2>No has agregado productos</h2>
                    <a href="/catalogo" class="btn btn-primary">Ver Catálogo</a>
                </div>
            <% } else { %>
                <% let valor = 0 %>
                <% Cart.forEach( (Cart) => { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <img src="img/Productos/<%= Cart.Imagen %>" class="img-fluid" alt="Imagen del producto" width="180px">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="product-details">
                                    <h5><%= Cart.Producto %></h5>
                                </div>
                                <div class="quantity-control">
                                    <strong><p>Valor unitario</p></strong>
                                    <p>$ <%= Cart.Precio.toLocaleString('es-CO') %> COP c/u</p>
                                </div>
                                <div class="quantity-control">
                                    <strong><p>Cantidad</p></strong><p><%= Cart.Cantidad %></p>
                                </div>
                                <div class="quantity-control">
                                    <% let valortotal = (Cart.Cantidad * Cart.Precio) %>
                                    <strong><p>Valor total</p></strong>
                                    <p>$<%= valortotal.toLocaleString('es-CO') %> COP</p>
                                    <a href="/eliminarcart/<%= Cart.id %>" class="text-danger">Remover</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% valor += valortotal  %>
                <% }) %>
                <div class="text-end total-price mt-4">Total: $<%= valor.toLocaleString('es-CO') %> COP</div>
                <div class="text-center mt-4">
                    <button class="btn btn-primary">Cotizar</button>
                </div>
            <% } %>
        </div>
    </div>
    <br>
    <footer>
        <p>Anfomotos © 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
